---
layout: default
---

<div class="tower">
  <img src="assets/images/tower_lineart_yellow.png"/>
</div>

<div class="row">
  <div class="col">
    {{ content }}

    {% if site.paginate %}
      {% assign posts = paginator.posts %}
    {% else %}
      {% assign posts = site.posts %}
    {% endif %}

    {%- if posts.size > 0 -%}
      <div class="row">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}

          <div class="col-sm-6 col-xs-12">
            <a href="{{ post.url | relative_url }}" class="c-hero__tile c-shadow mb-4">
              <h3 class="c-hero__tile__label p-2 m-4">
                {{ post.title | escape }}
              </h3>
              <div class="c-hero__tile__image c-hover">
                {%- if post.video -%}
                  <video autoplay loop preload="auto">
                    <source src="assets/videos/{{post.video}}" poster="assets/images/{{post.image}}" type="video/mp4">
                    <img src="assets/images/{{post.image}}" alt="{{post.title | escape}}"/>
                  </video>
                {%- else -%}
                  <img src="assets/images/{{post.image}}" alt="{{post.title | escape}}"/>
                {%- endif -%}
              </div>
            </a>
          </div>

        {%- endfor -%}
      </div>

      {% if site.paginate %}
        <div class="pager">
          <ul class="pagination">
          {%- if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
          {%- else %}
            <li><div class="pager-edge">•</div></li>
          {%- endif %}
            <li><div class="current-page">{{ paginator.page }}</div></li>
          {%- if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
          {%- else %}
            <li><div class="pager-edge">•</div></li>
          {%- endif %}
          </ul>
        </div>
      {%- endif %}

    {%- endif -%}
  </div>
</div>
