@font-face {
  font-family: 'CenturyRegular';
  src: url("/assets/fonts/century_schoolbook_regular.ttf");
}

@font-face {
  font-family: 'Futura';
  src: url("/assets/fonts/FuturaLT-Bold.ttf");
}

$century-regular: "CenturyRegular", serif;
$futura: "Futura", sans-serif;

$hover-brightness: brightness(44%);

$highlight: blue;
$background: #edede2;
$black: #000;


@mixin image-hover-brightness {
  transition: filter 0.250s;
  &:hover {
    -webkit-filter: $hover-brightness;
    filter: $hover-brightness;
  }
}

body {
  font-family: $century-regular;
  background-color: $background;
  color: $black;
  padding-top: 8px;
  padding-bottom: 36px;
  font-size: 18px;
  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.container, .container-fluid {
  position: relative;
}

h1 {
  font-family: $futura;
  font-weight: bold;
  color: $black;
  a {
    font-family: $futura;
    background: none;
    padding: 0;
    &:hover, &:visited, &:active, &:link {
      color: $black;
    }
  }
}

h2, h3, h4, h5, h6 {
  color: $black;
  font-family: $century-regular;
  a {
    font-family: $century-regular;
  }
}

p {
  max-width: 80ch;
}

a {
  font-family: 'Courier New', Courier, monospace;
  background: $highlight;
  padding: 2px 4px 2px 4px;
  &:hover, &:visited, &:active, &:link {
    color: white;
  }
}

ul, ol {
  padding-left: 20px;
  column-count: 2;
  max-width: 600px;
}

code {
  color: $black;
}

.c-hero__tile__image {
  transition: filter 0.250s;
}

.c-shadow {
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.22);
     -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.22);
          box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.22);
}

.c-hero__tile {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 40vw;
  max-height: 490px;
  transition: max-height 0.15s ease-out;
  padding: 0;
  cursor: pointer;
  @media (max-width: 600px) {
    height: 80vw;
  }
}

.c-hero__tile--expand {
  cursor: zoom-out;
  @media (min-width: 600px) {
    height: 100%;
    max-height: 100%;
  }
}

.c-hero__tile__label {
  position: absolute;
  bottom: 0;
  background: $highlight;
  color: white;
  max-width: 50%;
  font-family: 'Courier New', Courier, monospace;
  z-index: 1;
  @media (max-width: 1024px) {
    max-width: 100%;
  }
  &:hover {
    .c-info-strip__read-bio {
      opacity: 1;
    }
  }
}

.c-hero__tile--hover {
  &:hover {
    .c-hero__tile__image {
      filter: $hover-brightness;
      -webkit-filter: $hover-brightness;
    }
    .c-hero__tile__description {
      opacity: 1;
    }
  }
}

.c-hero__tile__description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  color: white;
  padding: 10px;
  max-width: 60ch;
  opacity: 0;
  z-index: 9;
  transition: opacity 0.250s;
}

.c-hero__tile__image {
  display: flex;
  width: 100%;
  transition: filter 0.250s;
  img, video {
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
  }
}

.c-hero__tile__image--main {
  @media (max-width: 600px) {
    video {
      display: none;
    }
  }
}

.c-hero__tile__image__mobile {
  display: none;
  @media (max-width: 600px) {
    display: block;
  }
}

@media print {
  body {
    background-color: white;
    color: $black;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $black !important;
  }
  a {
    color: $black !important;
    background: none;
    &:hover, &:visited, &:active, &:link {
      color: $black !important;
    }
  }
  .tower, .tower--post {
    display: none;
  }
}

.post-title {
  color: white;
  font-family: 'Courier New', Courier, monospace;
}


.tower {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  right: 32px;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 1px solid $black;
  object-fit: contain;
  img {
    width: 100%;
    padding: 5px;
  }
  @media (max-width: 1024px) {
    display: none;
  }
}

.tower--post {
  height: 80px;
  width: 80px;
  img {
    padding: 0;
  }
}

body {
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  padding-top: 16px;
  padding-bottom: 16px;
}

.page-content {
  position: relative;
  height: 100%;
  min-height: 100vh;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  @media print {
    display: none;
  }
}

.post-content {
  padding: 16px;
  margin-bottom: 16px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.22);
       box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.22);
}
